<p id="notice"><%= notice %></p>

<h1>Pós</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pós.each do |pó| %>
      <tr>
        <td><%= link_to 'Show', pó %></td>
        <td><%= link_to 'Edit', edit_pó_path(pó) %></td>
        <td><%= link_to 'Destroy', pó, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pó', new_pó_path %>
